// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img{
	position: fixed;
	top:0;
	opacity: .91;
}

p, h1, h2, h3, h4, h5, a{
	position: relative;
	x-axis: 1000;
}
a:hover {
	color: red;
}